.header{
  display: flex;
  flex-direction: row;
  height: 56px;
  padding: 8px 16px;
  justify-content: space-between;
  width: 100%;
  /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
  background-color:white;
  /* z-index: 10; */
}
.header-left{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.header-middle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 750px;
  flex: 3;
}
.header-nav-list{
  display: flex;
  flex-direction: row;
  margin: 14px 0px;
  padding: 0px 0px 0px 40px;
  font-size: 14px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin: 0px 0px 0px 20px;
  cursor: pointer;
}
.nav:hover{
  color: rgb(238,52,37);
}
.header-right{
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.header-buttons{
  display: flex;
  flex-direction: row;
  padding: 0px 0px 0px 40px;
  align-items: center;
}
.login-section{
  display: flex;
  flex-direction: row;
  margin: 0px 16px 0px 0px ;
  cursor: pointer;
}
.signup-button{
  background-color: rgb(238,52,37);
  font-size: 14px ;
  font-weight: bold;
  color: white;
  border-width: 0;
  height: 36px;
  padding: 4px 16px;
  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
}