
@media (max-width : 767px){
  .number-section{
    display: flex;
    flex-wrap: wrap;
    /* width: 400px; */
    padding: 16px;
    justify-content: space-between;
    min-width: 280px;
  }
  .number-section-unit{
    flex :1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .numbers{
    color: rgb(229, 50, 37);
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    
  }
  .text-below-number{
    font-size: 14px;
    font-weight: bold;
    
    margin: 0px 0px 14px 0px;
    /* align-items: center; */
  }
  .plus{
    font-weight: 1000;
  }
}
@media (min-width : 768px)
{
  .number-section{
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
    /* background-color: lightpink; */
    justify-content: space-between;
    width: 1150px;
    padding: 50px 0px;
  }
  .number-section-unit{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .numbers{
    color: rgb(229, 50, 37);
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: bold;
    
  }
  .text-below-number{
    font-size: 17px;
    font-weight: bold;
    
  }
  .plus{
    font-weight: 1000;
  }
}
